data/input-data/ols
data/input-data/ols2excel
data/scale-bar/scale-bar-value-ftu.csv
data/scale-bar/scale-bar-value-ftu-clean1.csv
data/input-data/ftu-pub-pmc
data/img-type/test-data
data/donor-meta/donor-metadata.csv
vis/6b-sb-yearold-mean.svg
vis/6a-sb-sex-mean.svg
src/vis/6b-sb-yearold-v0.py
src/vis/6a-sb-sex-v0.py
src/vis/6a-sb-sex-v1.py
data/vis-source-data/5c-output-sb-size-cnt-old.csv
data/vis-source-data/5c-output-sb-ref-size-cnt-old.csv
data/vis-source-data/6a-sb-sex-mean.csv
data/vis-source-data/6b-sb-yearold-mean.csv
tmp.csv
tmp.py
tmp2.py
tmp2.csv
output_aggregated.csv